
<div class="px-10">
    <h1 class="text-lg font-bold ">about</h1>
    <p class="text-xs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias sint fuga consequatur architecto placeat veritatis dolor provident repellendus velit excepturi ducimus voluptas mollitia pariatur, est magni? Inventore earum distinctio iste.</p>
    <p class="text-xs">Numero de clientes <app-counter [duration]="duration()" [message]="message()" *ngIf="duration()>0"/> </p>
    <div>
        <app-wave-audio audioUrl="assets/audio.mp3"/>
    </div>
</div>